*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    position: relative;
    overflow: auto;
    padding: 30px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #fbf3f3;
}
#nav
{
    height: 100px;
    width: 100%;
    background-color: #636b73;
    display:flex;    align-items: center;
    justify-content: space-around;
}
a{
    color : white !important;
}
.lt{

    text-decoration: line-through;
}
button{
    padding: 12px 22px;
    background-color: red;
    border-radius: 5px ;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
}